{% load static %}
{% block sidebar %}

<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button">
                            <i class="bx bx-home-circle me-2"></i><span key="t-dashboards">Menú de Operaciones en Cremas</span>
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-dashboard">
                            <a href="{% url 'components_app:tables-viewtabletables1' 1 %}" class="dropdown-item" key="t-default">Operaciones Actuales</a>
                            <a href="{% url 'components_app:tables-viewtabletables2' 1 %}" class="dropdown-item" key="t-default2">Histórico de Operaciones</a>
                            <a href="{% url 'components_app:tables-viewtabletables1X' 1 %}" class="dropdown-item" key="t-default">Operaciones Actuales (Nuevo en Prueba)</a>
                            <a href="{% url 'components_app:tables-viewtabletables2X' 1 %}" class="dropdown-item" key="t-default2">Histórico de Operaciones (Nuevo en Prueba)</a>
                            {% if user.is_authenticated %}
                                {% if user.groups.all.0.name == 'Admin' or user.groups.all.0.name == 'AdminBarraza' %}                           
                            <a href="{% url 'components_app:tables-edittables' 1 %}" class="dropdown-item" key="t-saas">Editar Operaciones</a>
                            <a href="{% url 'components_app:tables-edittablesX' 1 %}" class="dropdown-item" key="t-saas">Editar Operaciones (Nuevo en Prueba)</a>
                                {%endif%}
                            {%endif%}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
{%endblock%}